<div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-10 col-md-8">
      <h1>アマプローラー Amaplorer <small>~眠れる激熱アイテム発掘ツール~</small></h1>
      <p class="lead">アマゾンとヤフーショッピング間の商品リサーチ＆出品システム</p>

      <div class="page-header"><h2>実行状況</h2></div>
      <table class="table table-striped table-hover table-bordered">
        <thead class="thead-inverse">
          <tr>
            <th>項目1</th>
            <th>項目2</th>
            <th>項目3</th>
            <th>項目4</th>
            <th>項目5</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>値</td>
            <td>値</td>
            <td>値</td>
            <td>値</td>
            <td>値</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
